@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-secondary-100 text-secondary-800;
    }

    h1, h2, h3 {
        @apply text-secondary-800;
    }

    a {
        @apply text-primary-600 hover:text-primary-700;
    }
}

@layer components {
    .btn-primary {
        @apply bg-primary-600 text-white px-4 py-2 rounded hover:bg-primary-700;
    }

    .btn-danger {
        @apply bg-danger text-white px-4 py-2 rounded hover:opacity-90;
    }

    .card {
        @apply bg-white rounded shadow p-6;
    }
}